@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color1: #000000;
  --color2: #3a3a3a;
  --color3: #878787;
  --color4: #d2d2d2;
}

* {
  font-family: 'Lato', Sans-Serif;
  color: white;
  margin: 0;
  padding: 0;
  font-size: 2vh;
  box-sizing: border-box;
}

body {
  background: var(--color2);
}

input {
  color: black;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.outlet {
  @apply absolute bottom-0 h-[94vh] w-screen left-0 flex flex-col items-center justify-around flex-wrap
}

.nav {
  @apply text-[2vh] inline-block ml-[2vw]
}
