* {
  margin: 0;
  padding: 0;
}

.game-card {
 border: 1px black solid;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;

 width: 30vw;
 height: 30vw;
}

.game-card h1 {
  font-size: 2vh;
}

.game-card img {
  width: 20vw;
  height: 20vw;
}

#nav-bar {
  background: gray;
  position: fixed;
  width: 100vw;
  height: 20vh;
  z-index: 100;
}

#shop-screen {
  position: absolute;
  height: 80vh;
  width: 100vw;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}