[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-restful = "*"
marshmallow = "*"
faker = "*"
flask-cors = "*"
sqlalchemy-serializer = "*"
flask-bcrypt = "*"
cloudinary = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
